body {
	font-family: 'Roboto', sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

a {
	color: darkred;
	text-decoration: none;
}

a:hover, a:focus {
	color: rgb(29, 24, 24);
	text-decoration: underline;
}

